{%load static %}
<!DOCTYPE html>
<html lang="en"> 
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{% static 'css/howitworks.css' %}">
      <title>HTS DSP</title>
    </head>
    <body>
        <div class="container">
            <h1>User Instructions</h1>
            <br>

            <h2>1. Log In</h2>
            <p>Begin by logging into your account using your credentials. If you don't have an account, please register to create one and get access to your summary history.</p>
        
            <h2>2. Upload or Enter Text</h2>
            <p>Once logged in, you will be directed to a page where you can upload your files.</p>
            <ul>
                <li><strong>Text Files:</strong> You can upload text files directly from your device.</li>
                <li><strong>Audio Files:</strong> You can upload audio files which will be transcribed to text.</li>
                <li><strong>Manual Entry:</strong> You can also manually enter text in the provided text area.</li>
            </ul>
        
            <h2>3. Extract Text</h2>
            <p>After uploading or entering your text, you will be redirected to the extracted text page. Here, the app will display the text extracted from your uploaded files or the text you manually entered.</p>
        
            <h2>4. Summarize Text</h2>
            <p>Proceed to the summarization page where the app will generate a summary of the extracted text. Review the summary provided by the app.</p>
        
            <h2>5. Navigate Options</h2>
            <p>After viewing the summary, you will have two options:</p>
            <ul>
                <li><strong>Question Page:</strong> If you select this option, you will be taken to an interface where you can ask questions related to the summarized text and receive answers.</li>
                <li><strong>Home Page:</strong> If you choose to return to the home page, you can start a new session or review other features of the app.</li>
            </ul>
        
            <h2>6. Summary History</h2>
            <p>If you log into the platform, you can access your summary history. This feature allows you to review past summaries you have generated while using the app.</p>
        
            <h2>7. End of Workflow</h2>
            <p>After completing the above steps, your workflow ends. You can log out or start a new session as needed.</p>
        </div>
    </body>
</html>